<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="../config/config.js"></script>
  <script defer src="../models/cliente.js"></script>
  <title>Agenda</title>
  <script>
    console.log('TESTES')
  </script>
</head>

<body>
  <h1>Teste Electron</h1>
  <input type="button" value="Conectar ao BD" id="bdcon">
</body>
<!-- <script>
  document.getElementById("bdcon").addEventListener("click", () => {
    var mysql = require("mysql")

    var connection = mysql.createConnection({
      host: "localhost",
      user: "root",
      password: null,
      database: "bdturismo"
    });
    connection.connect((err) => {
      if (err) {
        return console.log(err.stack);
      }
      console.log("Conexão Estabelecida")
    });

    //aqui sera feita as querys q ao ser finalizada serão encerradas abaixo
    //
    $queryString = 'SELECT * from `cliente`;';
    connection.query($queryString, (err, rows, fields) => {
      if (err) {
        return console.log("Erro na Query", err);
      }
      console.log(rows);
    });

    connection.end(() => {
      console.log("Conexão Finalizada");
    });
  }, false);
</script> -->

</html>